{{#each posts as |post| }}
<div id="home-card" class="card w-75 mb-3 mx-auto">
    <div class="card-body">
        <h5 id="post-title"><a href="/post/{{post.id}}">{{post.title}}</a></h5>
        <blockquote class="blockquote mb-0"></blockquote>
        <p class="card-text">{{post.contents}}</p>
        <footer class="blockquote-footer">Posted by: {{post.user.username}} on {{format_date post.date_created}}
        </footer>
        </blockquote>
    </div>
</div>
{{/each}}