<div class="card">
    <h5>{{post.title}}</h5>
    {{!-- <h2>{{post.title}}</h2> --}}
    <div class="card-body">
        {{!-- <h5 class="card-title">{{post.title}}</h5> --}}
        <blockquote class="blockquote mb-0">
        <p>{{post.contents}}</p>
        <footer class="blockquote-footer">Posted by: {{post.user.username}} on {{format_date post.date_created}}</footer>
    </blockquote>
    <br>
    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
    {{!-- <p>{{post.contents}}</p>
    <p>Created by: {{post.user.username}} on {{format_date post.date_created}}</p> --}}
</div>

{{#if loggedIn}}
<form class="comment-form">
<div>
     <label for="comment">
    Comment:
    </label>
    <br />
    <textarea class="textarea" name="comment-body" placeholder="Enter your comment here!" rows="4"></textarea>
</div>
<div>
    <button id="comment-btn" class="button" type="submit">Add Comment</button>
</div>
</form>
{{/if}}

{{> comments post.comments}}


{{#if loggedIn}}
<script src="/js/addComment.js"></script>
{{/if}}